:root{
  --cc-overlay-opacity: 0.4;
}
#cookie-icon{
  max-width: 20px;
  display: inline-block;
  margin-right: 15px;
}

#c-p-bn, #s-all-bn {
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  position: relative;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out,-webkit-transform 0.4s ease-in-out;
  transition: all 0.4s ease-in-out,transform 0.4s ease-in-out;
  display: block;
  width: 100%;
  border-radius: 99px!important;
  padding: 1rem 2rem;
  font-size: 14px;
  background: linear-gradient(113.69deg, #e43127 2.62%, #d701be 96.65%) !important;
  color: white;
  margin-left: 0.5rem;
}

#s-bns, #c-bns{
  display:flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: space-evenly;
  width: 100%;
}

#s-bns{
  height: 6.75em;
}

#s-rall-bn, #s-sv-bn, #c-s-bn {
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out,-webkit-transform 0.4s ease-in-out;
  transition: all 0.4s ease-in-out,transform 0.4s ease-in-out;
  display: block;
  font-weight: 600;
  padding: 1rem 1rem;
  font-size: 14px;
  color: #333;
  margin-left: 0.5rem;
}

#c-s-in {
  height: 100%;
  height: calc(100% - 2.5em);
  max-height: 39.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 688px) {
  .bns-t #s-bns{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    width: 100%;
    height: 11.5em;
  }
  
  #s-rall-bn, #s-sv-bn, #c-s-bn, #c-p-bn, #s-all-bn {
    margin-left:auto;
  }
  
  #c-s-in {
    height: 100%;
    height: calc(100% - 2.5em);
    max-height: 39.5em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}