*{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/* Fonts & Sizing Start */
body {
    font-size: 18px;
    line-height: 1.8em;
    color: #333;
 }

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: thin;
    font-style: normal;
}

h1{
    font-size: 2.4rem;
    line-height: 2.8rem;
}

h2{
    font-size: 1.8rem;
    line-height: 2.0rem;
}

h3{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: "Montserrat", Arial;
    font-weight: normal;
}

/* Fonts & Sizing End */

/* Navigation Start */
nav {
    width: 100%;
}
/* Navigation End */

/* Breadcrumb Start */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
/* Breadcrumb End */

/* Links & Buttons Start */
a{
    text-decoration: none;
    color: #FF9900;
}
/* Links & Buttons End */

/* Main padding */
main {
    margin: 0px 10%;
}
/* Links & Buttons End */